extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Chris Leichsenring
        p.lead.text-light
          | Full Stack JavaScript Developer, Project Manager & Alexa Skill Developer

        .portfolio-bio
          p
            | I currently work as a Project Manager and IT Director at a prop tech startup in Washington, D.C.
            | Previously I have worked as an AV technician troubleshooting and solving technical smart home issues.
            | In my spare time you can find me gaming, hiking or helping businesses develop Alexa voice Skills.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Javascript 
          li /^Regex$\w/g
          li Git
          li Express
          li Node
          li API Development

        h6 Contact Info
        ul
          li 202.798.6518
          li chris@leichsenring.io

        a.button.expanded(href='https://www.linkedin.com/in/chris-leichsenring-67437468/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/cleichsenring', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/cleichsenring5', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  